<!DOCTYPE html>
<html>
    <head>
        <title>website</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="./js/jquery-3.5.1.js"></script>
    </head>
    <body>
        <header id="header">
            <a href="#" class="logo">HTML/CSS MARKET</a>
        </header>
        <section id="section">
            <table>
                <tr>
                    <th>Types of Effects</th>
                    <th>Options</th>
                </tr>
                <tr>
                    <td>3d-layered-social-media</td>
                    <td><a href="./external/3d_layered_social_media/index.html">preview</a> / <a href="download/3d_layered_social_media">download</a></td>
                </tr>
                <tr>
                    <td>box-hover</td>
                    <td><a href="./external/box-hover/index.html">preview</a> / <a href="download/box-hover">download</a></td>
                </tbodr>
                <tr>
                    <td>custom-checkbox</td>
                    <td><a href="./external/custom-checkbox/index.html">preview</a> / <a href="download/custom-checkbox">download</a></td>
                </tr>
                <tr>
                    <td>email-validation-check</td>
                    <td><a href="./external/email-validation-check/index.html">preview</a> / <a href="download/email-validation-check">download</a></td>
                </tr>
                <tr>
                    <td>full-screen-video-background</td>
                    <td><a href="./external/fullscreen-video-background/index.html">preview</a> / <a href="download/fullscreen-video-background">download</a></td>
                </tr>
                <tr>
                    <td>neon-light-button</td>
                    <td><a href="./external/neon-light-button/index.html">preview</a> / <a href="download/neon-light-button">download</a></td>
                </tr>
                <tr>
                    <td>responsive-contact-us-page</td>
                    <td><a href="./external/responsive-contact-us-page/index.html">preview</a> / <a href="download/responsive-contact-us-page">download</a></td>
                </tr>
                <tr>
                    <td>responsive-sidebar</td>
                    <td><a href="./external/responsive-sidebar/index.html">preview</a> / <a href="download/responsive-sidebar">download</a></td>
                </tr>
                <tr>
                    <td>responsive-website-design</td>
                    <td><a href="./external/responsive-website-design/index.html">preview</a> / <a href="download/responsive-website-design">download</a></td>
                </tr>
                <tr>
                    <td>soft_text</td>
                    <td><a href="./external/soft_text/index.html">preview</a> / <a href="download/soft_text">download</a></td>
                </tr>
                <tr>
                    <td>sticky-navbar</td>
                    <td><a href="./external/sticky-navbar/index.html">preview</a> / <a href="download/sticky-navbar">download</a></td>
                </tr>
                <tr>
                    <td>wrap-text-around-circle</td>
                    <td><a href="./external/wrap-text-around-circle/index.html">preview</a> / <a href="download/wrap-text-around-circle">download</a></td>
                </tr>
            </table>
        </section>
    </body>
    <script src="./js/script.js"></script>
</html>